/* General */
@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}

:root {
  /* Primary */
  --tomato: hsl(4, 100%, 67%);

  /* Neutral */
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: var(--charcoal-grey);

  section.newsletter {
    display: flex;
    width: 750px;
    background-color: var(--white);
    padding: 20px;
    border-radius: 25px;

    div.newsletter-left-side {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 45%;
      margin: 0 50px 0 30px;

      h1 {
        font: 700 48px 'Roboto', sans-serif;
        letter-spacing: -1.5px;
        color: var(--dark-slate-grey);
        margin-bottom: 22px;
      }

      p {
        font: 700 14px 'Roboto', sans-serif;
        letter-spacing: -0.4px;
        color: var(--charcoal-grey);
        margin-bottom: 22px;
      }

      ul {
        width: 100%;
        list-style: none;
        margin-bottom: 30px;

        li {
          display: flex;
          align-items: center;
          font: 700 14px 'Roboto', sans-serif;
          letter-spacing: -0.4px;
          color: var(--charcoal-grey);
          margin-bottom: 10px;

          img {
            width: 16px;
            margin-right: 14px;
          }
        }
      }

      form {
        display: flex;
        flex-direction: column;
        width: 100%;

        label {
          font: 700 12px 'Roboto', sans-serif;
          letter-spacing: -0.8px;
          color: var(--dark-slate-grey);
          margin-bottom: 8px;
        }

        input {
          padding: 14px 18px;
          border: 1px solid var(--grey);
          border-radius: 6px;
          margin-bottom: 18px;
        }

        button {
          width: 100%;
          background-color: var(--dark-slate-grey);
          color: var(--white);
          padding: 14px 0px;
          border: none;
          border-radius: 6px;
          cursor: pointer;
        }
      }
    }

    div.newsletter-right-side {
      width: 45%;

      img {
        display: block;
        width: 100%;
      }
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;
    padding: 10px;
    text-align: center;
    background-color: var(--white);

    a {
      color: var(--tomato);
      text-decoration: none;
    }
  }
}

/* Responsive : phone */
@media (max-width: 375px) {}