/* General */
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
:root {
  /* Primary */
  --tomato: hsl(4, 100%, 67%);
  /* Neutral */
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: var(--charcoal-grey);
}
body section.newsletter {
  display: flex;
  width: 750px;
  background-color: var(--white);
  padding: 20px;
  border-radius: 25px;
}
body section.newsletter div.newsletter-left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  margin: 0 50px 0 30px;
}
body section.newsletter div.newsletter-left-side h1 {
  font: 700 48px "Roboto", sans-serif;
  letter-spacing: -1.5px;
  color: var(--dark-slate-grey);
  margin-bottom: 22px;
}
body section.newsletter div.newsletter-left-side p {
  font: 700 14px "Roboto", sans-serif;
  letter-spacing: -0.4px;
  color: var(--charcoal-grey);
  margin-bottom: 22px;
}
body section.newsletter div.newsletter-left-side ul {
  width: 100%;
  list-style: none;
  margin-bottom: 30px;
}
body section.newsletter div.newsletter-left-side ul li {
  display: flex;
  align-items: center;
  font: 700 14px "Roboto", sans-serif;
  letter-spacing: -0.4px;
  color: var(--charcoal-grey);
  margin-bottom: 10px;
}
body section.newsletter div.newsletter-left-side ul li img {
  width: 16px;
  margin-right: 14px;
}
body section.newsletter div.newsletter-left-side form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
body section.newsletter div.newsletter-left-side form label {
  font: 700 12px "Roboto", sans-serif;
  letter-spacing: -0.8px;
  color: var(--dark-slate-grey);
  margin-bottom: 8px;
}
body section.newsletter div.newsletter-left-side form input {
  padding: 14px 18px;
  border: 1px solid var(--grey);
  border-radius: 6px;
  margin-bottom: 18px;
}
body section.newsletter div.newsletter-left-side form button {
  width: 100%;
  background-color: var(--dark-slate-grey);
  color: var(--white);
  padding: 14px 0px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
body section.newsletter div.newsletter-right-side {
  width: 45%;
}
body section.newsletter div.newsletter-right-side img.image-desktop {
  display: block;
  width: 100%;
}
body section.newsletter div.newsletter-right-side img.image-mobile {
  display: none;
}
body footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: black;
  padding: 10px;
  text-align: center;
  background-color: var(--white);
  border-radius: 6px 6px 0 0;
}
body footer a {
  color: var(--tomato);
  text-decoration: none;
}

/* Responsive : phone */
@media (max-width: 375px) {
  body {
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--white);
  }
  body section.newsletter {
    width: 100%;
    flex-direction: column;
    margin: 0 0 20px 0;
    padding: 0;
    border-radius: 0;
  }
  body section.newsletter div.newsletter-left-side {
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    order: 2;
    margin: 0;
    padding: 0 20px;
  }
  body section.newsletter div.newsletter-left-side h1 {
    font-size: 38px;
  }
  body section.newsletter div.newsletter-left-side p {
    font-size: 16px;
    line-height: 24px;
  }
  body section.newsletter div.newsletter-left-side ul li {
    font-size: 16px;
    letter-spacing: normal;
    line-height: 22px;
    align-items: flex-start;
  }
  body section.newsletter div.newsletter-left-side ul li img {
    width: 18px;
  }
  body section.newsletter div.newsletter-left-side form label {
    letter-spacing: normal;
  }
  body section.newsletter div.newsletter-left-side form input {
    font-size: 16px;
  }
  body section.newsletter div.newsletter-left-side form button {
    font: 400 16px "Roboto", sans-serif;
  }
  body section.newsletter div.newsletter-right-side {
    width: 100%;
    order: 1;
  }
  body section.newsletter div.newsletter-right-side img.image-desktop {
    display: none;
  }
  body section.newsletter div.newsletter-right-side img.image-mobile {
    display: block;
    width: 100%;
    margin-bottom: 35px;
  }
  body footer {
    position: relative;
    background-color: var(--dark-slate-grey);
    color: var(--white);
  }
}
/* Responsive : tablet */
@media (min-width: 376px) and (max-width: 768px) {
  body {
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--white);
  }
  body section.newsletter {
    width: 100%;
    flex-direction: column;
    margin: 0 0 40px 0;
    padding: 0;
    border-radius: 0;
  }
  body section.newsletter div.newsletter-left-side {
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    order: 2;
    margin: 0;
    padding: 0 20px;
  }
  body section.newsletter div.newsletter-left-side h1 {
    font-size: 52px;
  }
  body section.newsletter div.newsletter-left-side p {
    font-size: 20px;
  }
  body section.newsletter div.newsletter-left-side ul li {
    font-size: 20px;
    letter-spacing: normal;
    line-height: 22px;
    align-items: flex-start;
  }
  body section.newsletter div.newsletter-left-side ul li img {
    width: 22px;
  }
  body section.newsletter div.newsletter-left-side form label {
    font-size: 16px;
    letter-spacing: normal;
  }
  body section.newsletter div.newsletter-left-side form input {
    font-size: 20px;
  }
  body section.newsletter div.newsletter-left-side form button {
    font: 400 20px "Roboto", sans-serif;
  }
  body section.newsletter div.newsletter-right-side {
    width: 100%;
    order: 1;
  }
  body section.newsletter div.newsletter-right-side img.image-desktop {
    display: none;
  }
  body section.newsletter div.newsletter-right-side img.image-mobile {
    display: block;
    width: 100%;
    margin-bottom: 35px;
  }
  body footer {
    width: 100%;
    position: relative;
    background-color: var(--dark-slate-grey);
    color: var(--white);
  }
}/*# sourceMappingURL=style.css.map */