/* General */
@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}

@property --colorButtonHover1 {
  syntax: '<color>';
  initial-value: hsl(234, 29%, 20%);
  inherits: false;
}

@property --colorButtonHover2 {
  syntax: '<color>';
  initial-value: hsl(234, 29%, 20%);
  inherits: false;
}

:root {
  /* Primary */
  --tomato: hsl(4, 100%, 67%);
  --rose: hsl(345.78, 100%, 66.08%);

  /* Neutral */
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: var(--charcoal-grey);

  section.newsletter {
    display: flex;
    width: 750px;
    background-color: var(--white);
    padding: 20px;
    border-radius: 25px;

    div.newsletter-left-side {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 45%;
      margin: 0 50px 0 30px;

      h1 {
        font: 700 48px 'Roboto', sans-serif;
        letter-spacing: -1.5px;
        color: var(--dark-slate-grey);
        margin-bottom: 22px;
      }

      p.desc {
        font: 700 14px 'Roboto', sans-serif;
        letter-spacing: -0.4px;
        color: var(--charcoal-grey);
        margin-bottom: 22px;
      }

      ul {
        width: 100%;
        list-style: none;
        margin-bottom: 30px;

        li {
          display: flex;
          align-items: center;
          font: 700 14px 'Roboto', sans-serif;
          letter-spacing: -0.4px;
          color: var(--charcoal-grey);
          margin-bottom: 10px;

          img {
            width: 16px;
            margin-right: 14px;
          }
        }
      }

      form {
        display: flex;
        flex-direction: column;
        width: 100%;

        div.label-message {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 8px;

          label {
            font: 700 12px 'Roboto', sans-serif;
            letter-spacing: -0.6px;
            color: var(--dark-slate-grey);
          }

          p {
            display: none;
            font: 700 12px 'Roboto', sans-serif;
            letter-spacing: -0.6px;
            color: var(--tomato);
          }
        }

        input {
          padding: 14px 18px;
          border: 1px solid var(--grey);
          border-radius: 6px;
          margin-bottom: 18px;

          &:focus {
            outline: none;
            border: 1px solid var(--charcoal-grey);
          }
        }
      }
    }

    div.newsletter-right-side {
      width: 45%;

      img.image-desktop {
        display: block;
        width: 100%;
      }

      img.image-mobile {
        display: none;
      }
    }
  }

  section.success-message {
    display: none;
    width: 350px;
    background-color: var(--white);
    padding: 40px 40px;
    border-radius: 25px;

    img {
      width: 42px;
      margin-bottom: 20px;
    }

    h1 {
      font: 700 42px 'Roboto', sans-serif;
      line-height: 42px;
      color: var(--dark-slate-grey);
      margin-bottom: 20px;
    }

    p {
      font: 400 14px 'Roboto', sans-serif;
      color: var(--charcoal-grey);
      line-height: 20px;
      margin-bottom: 25px;

      span {
        color: var(--dark-slate-grey);
        font-weight: 700;
      }
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;
    padding: 10px;
    text-align: center;
    background-color: var(--white);
    border-radius: 6px 6px 0 0;

    a {
      color: var(--tomato);
      text-decoration: none;
    }
  }
}

// General styles
button {
  width: 100%;
  background: linear-gradient(90deg, var(--colorButtonHover1) 0%, var(--colorButtonHover2) 100%);
  color: var(--white);
  padding: 14px 0px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: --colorButtonHover1 0.8s, --colorButtonHover2 0.8s, box-shadow 0.8s;

  &:hover {
    --colorButtonHover1: var(--rose);
    --colorButtonHover2: var(--tomato);
    box-shadow: 0px 10px 30px 0px hsl(4, 75%, 67%);
  }
}

input.error {
  border: 1px solid var(--tomato) !important;
  color: var(--tomato);
  background-color: rgba(255, 99, 71, 0.15);

  &::placeholder {
    color: var(--tomato);
  }
}

/* Responsive : phone */
@media (max-width: 375px) {
  body {
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--white);

    section.newsletter {
      width: 100%;
      flex-direction: column;
      margin: 0 0 20px 0;
      padding: 0;
      border-radius: 0;

      div.newsletter-left-side {
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        order: 2;
        margin: 0;
        padding: 0 20px;

        h1 {
          font-size: 38px;
        }

        p {
          font-size: 16px;
          line-height: 24px;
        }

        ul {

          li {
            font-size: 16px;
            letter-spacing: normal;
            line-height: 22px;
            align-items: flex-start;

            img {
              width: 18px;
            }
          }
        }

        form {
          label {
            letter-spacing: normal;
          }

          input {
            font-size: 16px;
          }

          button {
            font: 400 16px 'Roboto', sans-serif;
          }
        }
      }

      div.newsletter-right-side {
        width: 100%;
        order: 1;

        img.image-desktop {
          display: none;
        }

        img.image-mobile {
          display: block;
          width: 100%;
          margin-bottom: 35px;
        }
      }
    }

    section.success-message {
      height: 100vh;
      width: 100%;
      padding: 0 20px;
      margin: 100px 0 0 0;

      img {
        width: 52px;
      }

      p {
        font: 400 18px 'Roboto', sans-serif;
      }

      button {
        margin: 85% 0 0 0;
      }
    }

    footer {
      position: relative;
      background-color: var(--dark-slate-grey);
      color: var(--white);
    }
  }
}

/* Responsive : tablet */
@media (min-width: 376px) and (max-width: 768px) {
  body {
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--white);

    section.newsletter {
      width: 100%;
      flex-direction: column;
      margin: 0 0 40px 0;
      padding: 0;
      border-radius: 0;

      div.newsletter-left-side {
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        order: 2;
        margin: 0;
        padding: 0 20px;

        h1 {
          font-size: 52px;
        }

        p {
          font-size: 20px;
        }

        ul {

          li {
            font-size: 20px;
            letter-spacing: normal;
            line-height: 22px;
            align-items: flex-start;

            img {
              width: 22px;
            }
          }
        }

        form {
          label {
            font-size: 16px;
            letter-spacing: normal;
          }

          input {
            font-size: 20px;
          }

          button {
            font: 400 20px 'Roboto', sans-serif;
          }
        }
      }

      div.newsletter-right-side {
        width: 100%;
        order: 1;

        img.image-desktop {
          display: none;
        }

        img.image-mobile {
          display: block;
          width: 100%;
          margin-bottom: 35px;
        }
      }
    }

    section.success-message {
      height: 100vh;
      width: 100%;
      padding: 0 20px;
      margin: 120px 0 0 0;

      img {
        width: 52px;
      }

      p {
        font: 400 18px 'Roboto', sans-serif;
      }

      button {
        margin: 100% 0 0 0;
      }
    }

    footer {
      width: 100%;
      position: relative;
      background-color: var(--dark-slate-grey);
      color: var(--white);
    }
  }
}